{% extends "base.html" %}
{% block title %}Chat{% endblock %}
{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.js" integrity="sha512-2AL/VEauKkZqQU9BHgnv48OhXcJPx9vdzxN1JrKDVc4FPU/MEE/BZ6d9l0mP7VmvLsjtYwqiYQpDskK9dG8KBA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        #history {
            overflow: scroll;
        }
        #history-users{
            min-height:70px;
            height:calc(80vh - 35px);
        }
        .l-box {
            padding: 1em;
            height:calc(100% - 35px) !important;
            margin: auto;
        }
        .pl-l-box {
            border-left: 1px dashed darkgrey;
        }
        #history{
            position:relative;
        }
        #newmessages{
            position: absolute;
            opacity:0.9;
            top:20px;
            left:40px;
            width:200px;
            border-radius: 5px;
            background-color: orange;
            border: 1px solid darkgrey;
            transition: ease 200ms;
        }
        .modal{
            position: fixed;
            opacity:1.0;
            top:10%;
            left:calc(25% - 1em);
            width:50%;
            border-radius: 5px;
            background-color: lightsalmon;
            border: 1px solid darkgrey;
            transition: ease 200ms;
            box-shadow: black;
            padding:1em;
            z-index:9999;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container" style="border:1px solid darkgrey">
         {% for command in commands %}
            <div class="modal" id="{{ command.tag }}modal">
                <h2>{{ command.name }}</h2>
                <p>{{ command.description }}</p>
                <form>{% csrf_token %}
                    {% for input in command.inputs.all %}
                        <b>{{ input.name }}</b>
                        <p>{{ input.description }}</p>
                        <input name="{{ input.tag }}">
                    {% endfor %}
                    <input type="submit" value="submit">
                </form>
            </div>
        {% endfor %}
        <div id="history-users" class="pure-g">
            <div class="pure-u-19-24" style="height:100%;">
                <div id="history" class="l-box">
                     <div data-bind="foreach: msgs">
                         <div style="background-color: lightblue; border-radius: 5px;padding:0.5em;margin:3px;">
                             <small style="width:70px">[<span data-bind="text: formatted_time"></span>]</small>
                             <span style="word-break:break-all">
                                 <<span data-bind="text: username"></span>>
                                 <span data-bind="text: body"></span>
                             </span>
                             <span style="float:right"><a href="">more</a></span>
                         </div>
                    </div>
                    <div id="newmessages">There are new messages.</div>
                </div>
            </div>
            <div class="pure-u-5-24">
                <div data-bind="foreach: users" id="users" class="l-box pl-l-box">
                    <span data-bind="text: username"></span>
                </div>
            </div>
        </div>

        <form id="msgform" class="pure-form">{% csrf_token %}
            <div id="input" class="pure-g">
                <div class="pure-u-20-24">
                    <input name="body"
                           list="commandlist"
                           autocomplete="off"
                           data-bind="value: vm.message,
                           event: {enter: onMsg}"
                           class="pure-input pure-u-1"
                           placeholder="Type your message...">
                    <datalist id="commandlist">
                        <option value="/Test">
                        <option value="/Test2">
                    </datalist>
                </div>
                <div class="pure-u-4-24">
                    <button class="pure-button pure-button-primary pure-u-1"
                            data-bind="event: {click: onMsg}"
                            type="submit">submit</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        var vm = {
            users: ko.observableArray([{username:'loading'}]),
            message: ko.observable(''),
            msgs: ko.observableArray([]),
            last_refresh: ko.observable(),
            refresh_interval: ko.observable(2000),
        }

        ko.applyBindings(vm);

        obj = $("#history")[0];

        vm.msgs.subscribe(function(changes) {
            changes.forEach(function(change) {
                if (change.status === 'added') {
                    if (scr){
                        obj.scrollTo(0, obj.scrollHeight);
                    }
                }
            });
        }, null, "arrayChange");

        var intervalId = window.setInterval(function(){
            scr = obj.scrollTop === (obj.scrollHeight - obj.offsetHeight);
            if (scr) {
                $("#newmessages").hide();
            }
            $.getJSON('{% url "chat_history" %}', function(dd){
                if (vm.msgs().length != dd.messages.length) {
                    vm.msgs(dd.messages);
                    if (scr !== true) {
                        $("#newmessages").show();
                    }
                }
                vm.users(dd.users);
                vm.last_refresh(Date())
            });
        }, vm.refresh_interval());

        window.setInterval(function(){
            console.log("running");
            $("#commanddropdown").toggle();
        }, 5000);

        {% for command in commands %}
        $("#{{ command.tag }}modal").hide();
        {% endfor %}
        $("#newmessages").hide();


        function onMsg(){
            $.post(
                '{% url "chat_new" %}',
                $("#msgform").serialize(),
                function(){vm.message('')}
            )
        }

    </script>
{% endblock %}