{% extends "base.html" %}
{% block title %}Edit Message{% endblock %}
{% block head %}
<style>
       .button-error {
            background: rgb(202, 60, 60);
            /* this is a maroon */
        }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.js" integrity="sha512-2AL/VEauKkZqQU9BHgnv48OhXcJPx9vdzxN1JrKDVc4FPU/MEE/BZ6d9l0mP7VmvLsjtYwqiYQpDskK9dG8KBA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}
{% block body %}
<h1>Edit message</h1>
    <form id="editform" class="pure-form">
        {% csrf_token %}
        <input  name="msg_id" value="{{ object.msg_id }}" type="hidden">
        <input name="method" value="edit" type="hidden">
        <input name="body" value="{{ object.body }}"
               data-bind="event: {enter: onEdit}">
        <button id="edit" class="pure-button pure-button-primary"
                type="submit" data-bind="event: {click: onEdit}">
            edit</button>
    </form>
    <form id="deleteform" class="pure-form">
        {% csrf_token %}
        <input  name="msg_id" value="{{ object.msg_id }}" type="hidden">
        <input name="method" value="delete" type="hidden">
        <button id="edit" class="button-error pure-button"
               data-bind="event: {click: onDelete}"
                type="submit">delete</button>
    </form>

    <script>
        ko.applyBindings(function(){});
        function onEdit(){
            $.post(
                '{% url "chat_edit" %}',
                $("#editform").serialize(),
                //function(){
                  //  window.location.href = '/success?msg=You have edited the message.'
                //}
            )
        }
        function onDelete(){
            $.post(
                '{% url "chat_edit" %}',
                $("#deleteform").serialize(),
                function (){
                    window.location.href = '/success?msg=You have deleted the message.'
                }
            )
        }
    </script>
{% endblock %}